.paginator{
  position: sticky;
  bottom: 0;
}
.modal-content{
  //background-color: #343a40;
}
.modal-dialog{
  background-color: bisque;
  border-radius: 5px;
}
form.modal-form{
  color:grey;
  display: flex;
  flex-wrap: wrap;
}

mat-form-field{
  width: 100%;
}

textarea{
  overflow:auto;
}

