<nav class="navbar navbar-expand-lg navbar-dark bg-info">
  <span class="navbar-brand">CRUD JSONPlaceholder</span>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
          aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="mobileMenuCollapse">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item" routerLinkActive="active">
        <a class="nav-link" routerLink="/posts">Posts</a>
      </li>
      <li class="nav-item" routerLinkActive="active">
        <a class="nav-link" routerLink="/todos">Todos</a>
      </li>
      <li class="nav-item" routerLinkActive="active">
        <a class="nav-link" routerLink="/users">Users</a>
      </li>
    </ul>
  </div>
</nav>
<div class="container">
  <main>
    <router-outlet></router-outlet>
  </main>
</div>
